* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgba(255, 250, 250, 0.747);
}
.top-div {
	background-image: url("images/topImg.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 700px;
}
nav {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.425);
	padding-bottom: 15px;
	
}
.logo {
	width: 20%;
	display: inline-block;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 5%;
	color: #fff;
	font-family: Segoe Print;
	cursor: pointer;
}
.logo-link {
	color: #fff;
	text-decoration: none;
}
.menu {
	display: inline-block;
	width: 50%;
	margin-left: 20%;
	cursor: pointer;
}
li {
	display: inline-block;
	font-size: 15px;
	font-family: sans-serif;
	color: #fff;
	margin-right: 10px;
	padding: 5px;
}
li:hover {
	border: none;
	border-bottom: 1px solid #fff;
}
.login-btn {
	margin-left: 15%;
}
.pg-intro {
	color: #fff;
	font-size: 30px;
	margin: 20% 40%;
	font-family: sans-serif;
	width: 60%;
}
.expl-btn {
	width: 30%;
	height: 40px;
	background-color: rgba(255, 250, 250, 0.747);
	color: #000;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 5px;
	border: none;
	margin-top: 10px;
	border-radius: 0px;
}
.expl-btn:hover {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
#trends-div {
	width: 60%;
	display: inline-block;
}
.linked-title {
	color: inherit;
	text-decoration: none;
}
.linked-title:hover {
	text-decoration: underline;
}
.trend-flex {
	background-color: #fff;
	font-family: sans-serif;
	box-shadow: 0px -0px 8px 1px rgba(0, 0, 0, 0.274);
	border-radius: 3px;
	margin: 10px 20px 20px 5%;
	padding: 10px;
}
.trends-title {
	font-size: 25px;
	margin: 50px 20px 0 5%;
	font-family: sans-serif;
}
.news-img {
	display: inline-block;
	width: 40%;
}
.news-img > img {
	width: 100%;
}
.img-4 {
	height: 180px;
}
.news-text {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin: 5px 5px 5px 15px;
}
.news-title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.news-body {
	font-size: 12px;
	margin-bottom: 5px;
	color: #979797;
}
.news-cc {
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	color: #979797;

}
.cc-links {
	color: rgba(0, 0, 255, 0.5);
	text-decoration: none;
}
.best-sites {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 5%;

}
.best-title {
	font-size: 25px;
	font-family: sans-serif;
	font-weight: bold;

}
.top-site {
	width: 100%;
	display: inline-block;
	border: 1px solid #000;
	margin-top: 10px;
}
.top-site > a {
	color: #000;
	text-decoration: none;
}
.top-site > a:hover {
	text-decoration: underline;
}
.tp-site-img {
	width: 40%; 
	height: 70px;
	display: inherit;
	vertical-align: top;
}

.tp-site-name {
	font-size: 20px;
	display: inline-block;
	width: 50%;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 5%;
	padding-top: 10px;
	vertical-align: middle;

}
footer {
	background-color: #000;
	height: 60px;
}
.logo-bottom {
	width: 50%;
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 5%;
	color: #fff;
	font-family: Segoe Print;

}
.footer-text {
	font-size: 20px;
	color: grey;
	font-family: sans-serif;
}