* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url("https://www.princeton.edu//sites/default/files/images/2017/06/20060425_NassauHall_JJ_IMG_5973.jpg");
	background-size: 100% 100%;
}
form {
	width: 40%;
	margin: 5% 30% 0 30%;
	font-family: sans-serif;
	border: 1px solid #000;
	padding-left: 5%;
	background-color: rgba(255,255,255, 0.7);
}
h2 {
	font-size: 20px;
	margin: 5% 0;
}
label {
	margin-bottom: 10px;
	display: block;
}
input {
	background-color: rgba(255,255,255, 0.7);
	width: 90%;
	height: 7%;
	border: 1px solid #000;
	border-radius: 3px;
	margin-bottom: 10px;
	outline: none;
	padding-left: 5px;
}
.pass-reset {
	font-size: 16px;
	color: #0061a8;
	margin-left: 60%;
}
#sb-btn {
	background-color: #0084ff;
	color: #fff;
	border: none;
	font-size: 20px;
	margin-bottom: 40px;
}
